@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&display=swap");

:root {
  --Heading-font-family: "Montserrat", sans-serif;
  --SubHeading-font-family: "Inter", sans-serif;

  --color-primary: #041514;
  --color-secondary: #1dafa1;
}
